@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$body-bg-color: $gray-500;
$font-color: $light;

body {
  // background-color: $body-bg-color;
  // margin-left: 100px;
  margin: auto;
  background-color: #193c6d;
  overflow: auto;
  height: inherit;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
  background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));
  background-image: -webkit-linear-gradient(135deg, #003073, #029797);
  background-image: -moz-linear-gradient(45deg, #003073, #029797);
  background-image: -ms-linear-gradient(45deg, #003073 0, #029797 100%);
  background-image: -o-linear-gradient(45deg, #003073, #029797);
  background-image: linear-gradient(135deg, #003073, #029797);
  text-align: center;
}


section {
  @include make-col-ready;
  @include media-breakpoint-up(md) {
    @include make-col(12);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(12);
  }
  background: $white;
  border: 1px solid;
  cursor: pointer;
  margin: -1px;
  outline: none;
  padding: 1rem;

  p {
    margin-bottom: 0;
  }

}


h1 {
  display: flex;
  justify-content: center;
}

.classTurn {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

canvas {
  height: 10%;
  width: 10%;
}

.row{
  margin: auto;
}
.btn{
  margin: auto;
}
.box {
  color: $font-color;
  background-color: $secondary;
  align-items: center;
  display: flex;
  border: 1px solid $white;
  font-size: 3em;
  font-weight: 800;
  height: 80px;
  justify-content: center;
  width: inherit;
}

.btn-primary {
  // display: flex
  // margin 100;
  max-width: 40vh;
}

.row {
  max-width: 300px;
}


.alt-color {
  background-color: $alt-color;
}

.play-message-board {
  display: inline-block;
}

.make-it-middle {
  margin: auto;
}

// column creation
.rowWide {
  max-width: 1200px;
  margin: auto;

  // opacity: 0.5;
  @media (max-width: 767px) {
      max-width: 450px;
    }
}

.column {
  background-color: #00000050;
  float: left;
  width: 50%;
  padding: 15px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
